<p id="notice"><%= notice %></p>

<h1>Stock News</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_news.each do |stock_news| %>
      <tr>
        <td><%= link_to 'Show', stock_news %></td>
        <td><%= link_to 'Edit', edit_stock_news_path(stock_news) %></td>
        <td><%= link_to 'Destroy', stock_news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock News', new_stock_news_path %>
