
  
  
    <div class="results-table">
    <h1>My Portfolio</h1>
      <div class="row">
      <div class="col-10">
        <div class="search">
            <%= form_tag search_stock_path, remote: true, method: :get do %>
            <div class="form-group row">
            <div class="col-sm-9 no-right-padding">
              <%= text_field_tag :stock, params[:stock], placeholder: "Stock Ticker Symbol", autofocus: true, class:"form-control me-2" %>
           </div>
            <div class="col-sm-3 no-left-padding">
            <%= button_tag type: :submit, class:"btn btn-success" do %>
              <%= 'Search' %>
            <% end %>
        </div>
        </div>
      <% end %>
   </div>
   
  <div id="results">
    </div>



      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        <% @tracked_stocks.each do |stock| %>
          <tr>
            <th scope="row"><%= stock.ticker %></th>
            <td><%= stock.name %></td>
            <td><%= stock.last_price %></td>
            <td><%= link_to 'Remove', user_stock_path(stock), method: :delete, data: {confirm: 'Are you Sure?'},
            class: 'btn btn-xs btn-warning'  %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
