<!DOCTYPE html>
<html>
  <head>
    <title>FinanceTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'custom',  media: 'all' %>
    <%= stylesheet_link_tag 'application',  media: 'all'  %>
    <%= javascript_pack_tag 'application', media: 'all' %>
  </head>
  <body>

    <%= render 'layouts/navigation' %>

    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
      </div>
  </body>
</html>
